<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILibraryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5150/Services/LibraryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILibraryService"
                contract="ILibraryService" name="BasicHttpBinding_ILibraryService" />
        </client>
    </system.serviceModel>
</configuration>